{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block head_title %}
main
{% endblock head_title %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}"/>
<div class="col-sm-6 col-sm-offset-3" >
    <div id="write_posting">
      <form action="{% url 'blog:post_create' %}" method="post">
      {% csrf_token %}
      <div class="form-group col-sm-6">
        <label for="id_content">새 글을 남겨보세요</label>
        <textarea class="form-control" cols="40" id="id_content" maxlength="150" name="content" placeholder="Content" required="required" rows="5" title=""></textarea>
      </div>
      <div class="form-group col-sm-4">
        <label for="id_tag_names">태그</label>
        <input class="form-control" id="id_tag_names" name="tag_names" placeholder="Tag names" required="required" title="" type="text">
        <input type="submit" value="글쓰기" class="btn btn-primary" />
      </div>
        <button id="write_posting_btn">글 남기기</button>
      </form>
      </div>
</div>

<div class="container marketing" style="position:relative;">
    <section id="blog-landing">

        {% for post in post_list %}
            <article id="post-{{post.id}}" class="white-panel" style="background-color: {{ themes.background_colors|random }};opacity:0.8;font-family: {{ themes.fonts|random }} " ><div class="card-content">
            <div class="card">
                {% if request.user == post.author %}
                <div class="pull-right">
                  <a href="{% url 'blog:post_update' post.id %}">수정</a>
                  <a href="{% url 'blog:post_delete' post.id %}">삭제</a>

                </div>
                {% else %}
                {% endif %}
                </div>
                <div class="card-content">
                  <h2>{{ post.content }}</h2>
                  <p> {{ post.created_at | date:"Y/m/d, g:i a" }}</p>
                  {% for tag in post.tag_set.all %}
                  <span>{{ tag.name }}{% if not forloop.last %},{% endif %}</span>
                  {% endfor %}
                </div>

            <div class="{{post.id}}th-comment-wrapper-btn">
                <i class="fa fa-comment"></i> {{ post.comments_count }} comments

            </div>
            <div id="sendpost">
            <form action="{% url 'blog:comment_create' post.id %}" method="post">
                {% csrf_token %}
                <div class="input-group">
                    <input name="content" value="{{content}}" class="form-control" type="text" placeholder="댓글을 입력해주세요">
                    <div class="input-group-btn">
                        <input class="btn btn-inverted btn-default" type="submit"></a>
                    </div>
                </div>
            </form>
            </div>
            <div class="{{post.id}}th-comment-wrapper">
              <div class="card-extra card-comment">
                <ul>
                  {% for comment in post.comment_set.all %}
                  <li class="comment-list">
                      {{comment.content}} by {{comment.author}}
                      <a href="{% url 'blog:comment_update' post.id comment.id %}">수정</a>
                      <a href="{% url 'blog:comment_delete' post.id comment.id %}">삭제</a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            </article>
        {% endfor %}
    </section>
</div>


</div>
    <script>
    $("#write_posting_btn").click(function(){
        $("#write_posting").slideToggle(1000);

    })

    {% for post in post_list %}
      $(".{{post.id}}th-comment-wrapper-btn").click(function(){
        $(".{{post.id}}th-comment-wrapper").slideToggle(0);
    })

    {% endfor %}

    </script>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static 'js/pinterest_grid.js' %}"></script>
<script src="{% static 'js/ajax.js' %}"></script>
<script>
        $(document).ready(function() {

            $('#blog-landing').pinterest_grid({
                no_columns: 4,
                padding_x: 10,
                padding_y: 10,
                margin_bottom: 50,
                single_column_breakpoint: 700
            });

        });
    </script>
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    {% endblock content %}

