{% extends "base.html" %}
{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block head_title %}
main
{% endblock head_title %}

{% block content %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<div class="main-wrapper" style="margin-top: 80px">
  <header class="main-header">
  {% if not user.is_authenticated %}
  <form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {{ login_form }}
    <input type="submit" name="">
  </form>
  {% else %}
  <a href="{% url 'accounts:logout' %}">로그아웃</a>
  {% endif %}
  </header>

  <button id="write_posting_btn">글 남기기</button>
    <div class="col-sm-6 col-sm-offset-3" >
        <div id="write_posting">
          <form action="{% url 'blog:post_create' %}" method="post">
          {% csrf_token %}
              <input name="content" value="{{ content }}" placeholder="내용">
              <input name="tag_set" value="{{ tag_set }}" placeholder="태그">
              <input type="submit" value="OK" class="btn btn-primary">
          </form>
        </div>
    </div>

</div>
{% for post in posts %}
  <div class="card-wrapper">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="bs-component">
            <div class="card">
                <div class="card-content"><img class="card-avatar card-image" src="http://placehold.it/20x20 "> by {{post.author}}
                {% if request.user == post.author %}
                <div class="pull-right">
                  <a href="{% url 'blog:post_delete' post.id %}">삭제</a>
                  <a href="{% url 'blog:post_update' post.id %}">수정</a>
                </div>
                {% else %}
                {% endif %}
                </div>
                <div class="card-content">
                  <h2>{{ post.content }}</h2>
                  <p> {{ post.created_at }}  by {{ post.author }}</p>
                  <p>#{{ post.tag_set }}</p>
                </div>

                <div class="{{post.id}}th-comment-wrapper-btn">
                    <i class="fa fa-comment"></i> {{ post.comments_count }} comments

                </div>
                <form action="{% url 'blog:comment_create' post.id %}" method="post">
                        {% csrf_token %}
                          <div class="input-group">

                          <input name="content" value="{{content}}" class="form-control" type="text" placeholder="댓글을 입력해주세요">
                          <div class="input-group-btn">
                              <input class="btn btn-inverted btn-default" type="submit"></a>
                          </div>
                          </div>
                        </form>
                <div class="{{post.id}}th-comment-wrapper">
                  <div class="card-extra card-comment">


                    <ul>
                      {% for comment in post.comment_set.all %}
                      <li class="comment-list">
                          {{comment.content}} by {{comment.author}}
                          <a href="{% url 'blog:comment_update' post.id comment.id %}">수정</a>
                          <a href="{% url 'blog:comment_delete' post.id comment.id %}">삭제</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                  </div>
                </div>
        </div>
    </div>
  </div>
{% endfor %}


</div>

        <footer></footer>


    <script>
    $("#write_posting_btn").click(function(){
        $("#write_posting").slideToggle(1000);

    })
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
     $("tag_set").bind("keyup", function () {

      /* replaces text as you type with hashtags */

      var input = $(this);
      var value = input.val();
      var ends_with_space = (value.substr(-1) == " ");

      var hashed_value = "";
      var parts = value.split(" ");
      for (var i = 0; i < parts.length; i++) {
       var part = parts[i];
       if (part.indexOf("#") != 0) {
        part = "#" + part;
       }
       if (part != "#") {
        if (hashed_value == "") {
         hashed_value = part;
        } else {
         hashed_value += " " + part;
        }
       }
      }
      if (ends_with_space) {
       hashed_value = hashed_value + " ";
      }
      input.val(hashed_value.replace(",", ""));
     });

    });

    {% for post in posts %}
      $(".{{post.id}}th-comment-wrapper-btn").click(function(){
        $(".{{post.id}}th-comment-wrapper").slideToggle(0);
    })

    {% endfor %}

    </script>
    {% endblock content %}

