{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}
post_detail
{% endblock head_title %}

{% block content %}


<div class="col-sm-6 col-sm-offset-3">
<h1>by {{post.author}}</h1><small>{{post.created_at}}</small>
<h3>{{post.content}}</h3>

<h3>댓글</h3>
<ul>
        <form action="{% url 'blog:comment_create' post.id %}" method="post">
        {% csrf_token %}
            <input name="content" value="{{ content }}">
            <input type="submit" value="댓글 달기" class="btn btn-primary">
        </form>
    {% for comment in post.comment_set.all %}
    <li>
        {{comment.content}} by {{comment.author}}
        <a href="{% url 'blog:comment_update' post.id comment.id %}">수정</a>
        <a href="{% url 'blog:comment_delete' post.id comment.id %}">삭제</a>
    </li>
    {% endfor %}
    <a href="{% url 'blog:index' %}">글 목록으로</a>
</ul>
</div>

{% endblock content %}