
<div id="request_list">
{% for f_u in follow_list %}
    {% if not f_u.is_approved %}
        <div class="request" id="request-{{ f_u.id }}">
            {{ f_u.from_user }}
            <a href="{% url 'accounts:aprv_request_list' f_u.pk %}"
                data-message="친구 리스트에 추가하시겠습니까?"
                data-id="request-{{ f_u.id }}"
                class="approved btn btn-default">추가</a>
            <a href="{% url 'accounts:del_request_list' f_u.pk %}"
                data-message="팔로우 리스트에서 삭제 하시겠습니까?"
                data-id="request-{{ f_u.id }}"
                class="rejected btn btn-danger">삭제</a>
        </div>
    {% endif %}
{% endfor %}
</div>

<script>
$(function() {
    $("#request_list .approved, #request_list .rejected").click(function() {
        var url = $(this).attr('href');
        var message = $(this).data("message");
        var target_id = $(this).data("id");
        if(confirm(message)) {
            $.post(url).done(function() {
                $("#" + target_id).remove();
            });
        }
        return false;
    });
});
</script>
