{% extends 'base.html' %}
{% load staticfiles %}


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

{% block content %}
<div class="follow_request">

<form id="follow" action="{% url 'accounts:search_follow' %}" method="post">
    {% csrf_token %}
    <select name="to_user" class="search" style="width: 250px;">
    {% for select_user in user_list %}
        {% if select_user == request.user %}
        {% else %}
            <option value="{{ select_user.pk }}">
                {{ select_user.username }}
            </option>
        {% endif %}
    {% endfor %}
</select>
<!--<input type="submit" />-->
</form>

<a href="#" id="delay"><img src="{% static 'img/add_friend.png' %}" id="add_friend_img" ></a>

</div>


<div class="follow_request_list">
{% include 'accounts/follow_list.html' %}
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$("#follow_request").ready(function() {

  $(".search").select2();
  $(".select2-hidden-accessible").hide();
  $(".select2-selection__rendered").html("Click Me for Following Friends");


});

$("#delay").click(function(){
    if(confirm("친구를 추가하시겠습니까?")){
        $("#follow").submit();
    }else{
    }
});
</script>


{% endblock %}
